#jinja2: trim_blocks: True, lstrip_blocks: True

{% macro telegraf_section(section_config, prefix='output') -%}
{% for name, config in section_config|dictsort %}
[[{{ prefix }}.{{ config._name|d(name) }}]]
{%   for key, value in config|dictsort if key != "_name" %}
{%     if value is mapping %}
  [[{{ prefix }}.{{ config._name|d(name) }}.{{ value._name|d(key) }}]]
{%       for k, v in value|dictsort if k != "_name" %}
    {{ telegraf_format_option(k, v) -}}
{%       endfor %}
{%       if not loop.last %}

{%       endif %}
{%     else %}
  {{ telegraf_format_option(key, value) -}}
{%     endif %}
{%   endfor %}

{% endfor %}
{% endmacro -%}

{% macro telegraf_format_option(option, value) -%}
{% if value is string %}
{{ option }} = "{{ value }}"
{% elif value is bool %}
{{ option }} = {{ value | string | lower }}
{% elif value is list %}
{%   if value %}
{{ option }} = ["{{ value | map('string') | join('","') }}"]
{%   else %}
{{ option }} = []
{%   endif %}
{% else %}
{{ option }} = {{ value | string }}
{% endif %}
{% endmacro -%}
