#jinja2: trim_blocks: True, lstrip_blocks: True

{% macro telegraf_section(section_config, prefix='output') -%}
{% for name, config in section_config|dictsort %}
{%   if config is list %}
{%     for item in config if item._enabled|d(True)|bool %}
[[{{ prefix }}.{{ item._name|d(name) }}]]
{{ telegraf_render_options(item, prefix ~ '.' ~ item._name|d(name)) -}}
{%       if not loop.last %}

{%       endif %}
{%     endfor %}
{%   elif config._enabled|d(True)|bool %}
[[{{ prefix }}.{{ config._name|d(name) }}]]
{{ telegraf_render_options(config, prefix ~ '.' ~ config._name|d(name)) -}}
{%   endif %}
{%   if not loop.last %}

{%   endif %}
{% endfor %}
{% endmacro -%}

{% macro telegraf_render_options(config, section_prefix, indent_level=1) -%}
{% for key, value in config|dictsort if key not in ['_name', '_enabled'] %}
{%   if value is list and value and value[0] is mapping %}
{%     for item in value %}
{{ telegraf_render_nested(item, section_prefix, key, indent_level) }}
{%       if not loop.last %}

{%       endif %}
{%     endfor %}
{%   elif value is mapping %}
{{ telegraf_render_nested(value, section_prefix, key, indent_level) }}
{%   else %}
{{ '  ' * indent_level }}{{ telegraf_format_option(key, value) -}}
{%   endif %}
{% endfor %}
{% endmacro -%}

{% macro telegraf_render_nested(nested_config, parent_prefix, key, indent_level=1) -%}

{{ '  ' * indent_level }}[[{{ parent_prefix }}.{{ nested_config._name|d(key) }}]]
{% for k, v in nested_config|dictsort if k not in ['_name', '_enabled'] %}
{%   if v is list and v and v[0] is mapping %}
{%     for item in v %}
{{ telegraf_render_nested(item, parent_prefix ~ '.' ~ nested_config._name|d(key), k, indent_level + 1) }}
{%       if not loop.last %}

{%       endif %}
{%     endfor %}
{%   elif v is mapping %}
{{ telegraf_render_nested(v, parent_prefix ~ '.' ~ nested_config._name|d(key), k, indent_level + 1) }}
{%   else %}
{{ '  ' * (indent_level + 1) }}{{ telegraf_format_option(k, v) -}}
{%   endif %}
{% endfor %}
{% endmacro -%}

{% macro telegraf_format_option(option, value) -%}
{% if value is string %}
{{ option }} = "{{ value }}"
{% elif value is boolean %}
{{ option }} = {{ value | string | lower }}
{% elif value is list %}
{%   if value %}
{{ option }} = ["{{ value | map('string') | join('","') }}"]
{%   else %}
{{ option }} = []
{%   endif %}
{% else %}
{{ option }} = {{ value | string }}
{% endif %}
{% endmacro -%}
